
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--fontsizep: 1.3rem;
	--lineheightp: 1.7em;
	--lineheighth2: 1em;
	--fontfamily: "Libre Franklin", sans-serif;
	--fontsizeh1: 10rem;
	--fontsizeh2: 4rem;
	--fontsizequote: 3rem;
	--lineheightquote: 1.1em;

	--pmargin: 3rem;
	--inlinemax: 90ch; 
	--quotemax: 42ch;
	--paddinginline: 6rem;
	--paddingblock: 6rem;
	--gap: 1.5rem;
	
	background-color: white;
	--pcolor: black;
	--shadowcolor: 0, 0, 0;
	--secondarycolor: 255, 0, 0;

	scroll-behavior: smooth;

	--ripple-speed: 3.5s;
	--band: 28%;
	--shadow-reach: 18em; /* must be >= your largest shadow offset (16.8em) */

}

body {
	font-family: var(--fontfamily);
	display: flex; /* (for header, main, footer) */
	gap: var(--gap);
	flex-direction: column;
	align-content: center;
	inline-size: min(100%, var(--inlinemax));
	margin: auto;
	padding-inline: var(--paddinginline);
}

#hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	padding-block: calc(var(--paddingblock) * 3);
	text-align: center;
	/* overflow-y: hidden; */
	/* /* overflow-x: visible; */
}

main {
	font-size: var(--fontsizep);
	display: flex; 
	flex-direction: column;
	gap: calc(var(--gap) * 5); /* (space in between the articles space) */
	/* margin-block-end: var(--paddingblock); */
}

/* Why can't I just use margin-block for this or is grid/flex preferred if it's just aligning paragraphs in one column? */

article > * {
	margin-block-end: calc(var(--pmargin) * 1.5); /* (space between header, section, aside) */
}

h1 {
	text-align: center;
	font-size: var(--fontsizeh1);
	font-weight: 900;
}

#written-by, #designed-by {
	font-size: var(--fontsizep);
}

#written-by {
	color: gray;
	align-self: end;
}

#designed-by {
	align-self: start;
}

article > header {
	position: sticky;
	top: 0;
	z-index: 2;
	background: white;
	padding-block: calc(var(--pmargin) / 2);
	margin: 0;
	border-bottom-style: solid;
	border-bottom-width: .001rem;
	border-bottom-color: lightgray;
}

h2 {
	text-align: center;
	font-size: var(--fontsizeh2);
	font-weight: 700;
	text-wrap: balance;
	line-height: var(--lineheighth2);
}

p {
	margin-block: var(--pmargin);
	line-height: var(--lineheightp);
	color: var(--pcolor);
	text-align: left;
	font-size: var(--fontsizep);
}

em {
	font-style: italic; 
}

.links:hover {
	color: red;
	/* text-shadow:
		-.7em 0 .1em rgba(var(--shadowcolor), .4),
		-1.4em 0 .12em rgba(var(--shadowcolor), .3); */
}

.links:hover::first-letter {
	text-shadow:
		-.7em 0 .1em rgba(var(--shadowcolor), .4),
		-1.4em 0 .12em rgba(var(--shadowcolor), .3);
}


.blockquote-section {
	/* position: relative; */
	display: flex;
	flex-direction: column;
	gap: 0;
	/* margin-block-start: calc(var(--pmargin) * 5); */
	/* padding-block: var(--pmargin); */
	/* flex-wrap: wrap; */
	/* block-size:  */
	/* justify-content: center;
	column-gap: 0; */
	/* row-gap: 0; */
	/* margin-block: var(--pmargin); */
	/* margin-block-start: calc(var(--pmargin) * 5); */
}

.blockquote-section blockquote {
	font-size: var(--fontsizequote);
	line-height: var(--lineheightquote);
	text-align: center;
	font-weight: 600;
	inline-size: min(100%, var(--quotemax));
	margin-inline: auto;
	/* margin-block: 0;
	padding: 0; */
}

.quote-left, 
.quote-right {
	font-size: calc(var(--fontsizeh1) * 3);
	/* height: 0; */
	line-height: 0;
	/* margin: 0; */
	color: rgba(var(--shadowcolor), .18);
	/* align-self: stretch; */
}

/* .quote-left::before, 
.quote-left::after,
.quote-right::before, 
.quote-right::after {
	content: '';
	display: block;
	visibility: hidden;
	margin-block-end: -.5em;
} */


.quote-left {
	/* justify-self: flex-start; */
	text-align: start;
	margin-block-start: calc(var(--pmargin) * 5)
	/* line-height: 0; */
}

.quote-right {
	/* justify-self: flex-end; */
	text-align: end;
	margin-block-start: calc(var(--pmargin) * 6)
}

aside {
	font-size: calc(var(--fontsizep) * .9);
}

sup {
	color: red;
	font-size: calc(var(--fontsizep) / 2);
	vertical-align: top;
}

ol {
	list-style-type: decimal;
	font-size: calc(var(--fontsizep) * .8);
	list-style-position: inside;
}

ol li::marker {
	color: red;
}

footer {
	text-align: center;
	margin-block-end: calc(var(--paddingblock) * 2);
	font-size: calc(var(--fontsizep) * 1.3);
}

/* ------------------Shadows-------------------- */

/* Surely there has to be an easier way to write this?? */

.left-shadow {
	color: black;
	text-shadow:
		-.7em 0 .1em rgba(var(--shadowcolor), .4),
		-1.4em 0 .12em rgba(var(--shadowcolor), .3),
		-2.1em 0 .13em rgba(var(--shadowcolor), .2),
		-2.8em 0 .14em rgba(var(--shadowcolor), .1),
		-3.5em 0 .14em rgba(var(--shadowcolor), .1),
		-4.2em 0 .14em rgba(var(--shadowcolor), .1),
		-4.9em 0 .14em rgba(var(--shadowcolor), .1),
		-5.6em 0 .14em rgba(var(--shadowcolor), .1),
		-6.3em 0 .14em rgba(var(--shadowcolor), .1),
		-7em 0 .14em rgba(var(--shadowcolor), .1),
		-7.7em 0 .14em rgba(var(--shadowcolor), .1),
		-8.4em 0 .14em rgba(var(--shadowcolor), .1),
		-9.1em 0 .14em rgba(var(--shadowcolor), .1),
		-9.8em 0 .14em rgba(var(--shadowcolor), .1),
		-10.5em 0 .14em rgba(var(--shadowcolor), .1),
		-11.2em 0 .14em rgba(var(--shadowcolor), .1),
		-11.9em 0 .14em rgba(var(--shadowcolor), .1),
		-12.6em 0 .14em rgba(var(--shadowcolor), .1),
		-13.3em 0 .14em rgba(var(--shadowcolor), .1),
		-14em 0 .14em rgba(var(--shadowcolor), .1),
		-14.7em 0 .14em rgba(var(--shadowcolor), .1),
		-15.4em 0 .14em rgba(var(--shadowcolor), .1),
		-16.1em 0 .14em rgba(var(--shadowcolor), .1),
		-16.8em 0 .14em rgba(var(--shadowcolor), .1);
}

.right-shadow {
	color: black;
	text-shadow:
		0.7em 0 .1em rgba(var(--shadowcolor), .4),
		1.4em 0 .12em rgba(var(--shadowcolor), .3),
		2.1em 0 .13em rgba(var(--shadowcolor), .2),
		2.8em 0 .14em rgba(var(--shadowcolor), .1),
		3.5em 0 .14em rgba(var(--shadowcolor), .1),
		4.2em 0 .14em rgba(var(--shadowcolor), .1),
		4.9em 0 .14em rgba(var(--shadowcolor), .1),
		5.6em 0 .14em rgba(var(--shadowcolor), .1),
		6.3em 0 .14em rgba(var(--shadowcolor), .1),
		7em 0 .14em rgba(var(--shadowcolor), .1),
		7.7em 0 .14em rgba(var(--shadowcolor), .1),
		8.4em 0 .14em rgba(var(--shadowcolor), .1),
		9.1em 0 .14em rgba(var(--shadowcolor), .1),
		9.8em 0 .14em rgba(var(--shadowcolor), .1),
		10.5em 0 .14em rgba(var(--shadowcolor), .1),
		11.2em 0 .14em rgba(var(--shadowcolor), .1),
		11.9em 0 .14em rgba(var(--shadowcolor), .1),
		12.6em 0 .14em rgba(var(--shadowcolor), .1),
		13.3em 0 .14em rgba(var(--shadowcolor), .1),
		14em 0 .14em rgba(var(--shadowcolor), .1),
		14.7em 0 .14em rgba(var(--shadowcolor), .1),
		15.4em 0 .14em rgba(var(--shadowcolor), .1),
		16.1em 0 .14em rgba(var(--shadowcolor), .1),
		16.8em 0 .14em rgba(var(--shadowcolor), .1);
}

.top-shadow {
	color: black; 
		text-shadow:
		0 -.7em .1em rgba(var(--shadowcolor), .4),
		0 -1.4em .12em rgba(var(--shadowcolor), .3),
		0 -2.1em .13em rgba(var(--shadowcolor), .2),
		0 -2.8em .14em rgba(var(--shadowcolor), .1),
		0 -3.5em .14em rgba(var(--shadowcolor), .1),
		0 -4.2em .14em rgba(var(--shadowcolor), .1),
		0 -4.9em .14em rgba(var(--shadowcolor), .1),
		0 -5.6em .14em rgba(var(--shadowcolor), .1);
		/* 0 -6.3em .14em rgba(var(--shadowcolor), .1),
		0 -7em .14em rgba(var(--shadowcolor), .1),
		0 -7.7em .14em rgba(var(--shadowcolor), .1),
		0 -8.4em .14em rgba(var(--shadowcolor), .1),
		0 -9.1em .14em rgba(var(--shadowcolor), .1),
		0 -9.8em .14em rgba(var(--shadowcolor), .1),
		0 -10.5em .14em rgba(var(--shadowcolor), .1),
		0 -11.2em .14em rgba(var(--shadowcolor), .1),
		0 -11.9em .14em rgba(var(--shadowcolor), .1),
		0 -12.6em .14em rgba(var(--shadowcolor), .1),
		0 -13.3em .14em rgba(var(--shadowcolor), .1),
		0 -14em .14em rgba(var(--shadowcolor), .1),
		0 -14.7em .14em rgba(var(--shadowcolor), .1),
		0 -15.4em .14em rgba(var(--shadowcolor), .1),
		0 -16.1em .14em rgba(var(--shadowcolor), .1),
		0 -16.8em .14em rgba(var(--shadowcolor), .1); */
}

.bottom-shadow {
	color: black; 
		text-shadow:
			0 .7em .1em rgba(var(--shadowcolor), .4),
			0 1.4em .12em rgba(var(--shadowcolor), .3),
			0 2.1em .13em rgba(var(--shadowcolor), .2),
			0 2.8em .14em rgba(var(--shadowcolor), .1),
			0 3.5em .14em rgba(var(--shadowcolor), .1),
			0 4.2em .14em rgba(var(--shadowcolor), .1),
			0 4.9em .14em rgba(var(--shadowcolor), .1),
			0 5.6em .14em rgba(var(--shadowcolor), .1),
			6.3em 0 .14em rgba(var(--shadowcolor), .1),
			7em 0 .14em rgba(var(--shadowcolor), .1),
			7.7em 0 .14em rgba(var(--shadowcolor), .1),
			8.4em 0 .14em rgba(var(--shadowcolor), .1),
			9.1em 0 .14em rgba(var(--shadowcolor), .1),
			9.8em 0 .14em rgba(var(--shadowcolor), .1),
			10.5em 0 .14em rgba(var(--shadowcolor), .1),
			11.2em 0 .14em rgba(var(--shadowcolor), .1),
			11.9em 0 .14em rgba(var(--shadowcolor), .1),
			12.6em 0 .14em rgba(var(--shadowcolor), .1),
			13.3em 0 .14em rgba(var(--shadowcolor), .1),
			14em 0 .14em rgba(var(--shadowcolor), .1),
			14.7em 0 .14em rgba(var(--shadowcolor), .1),
			15.4em 0 .14em rgba(var(--shadowcolor), .1),
			16.1em 0 .14em rgba(var(--shadowcolor), .1),
			16.8em 0 .14em rgba(var(--shadowcolor), .1);
}

.quote-left {
	color: black;
	text-shadow:
		-.4em 0 .05em rgba(var(--shadowcolor), .5),
		-.8em 0 .06em rgba(var(--shadowcolor), .4),
		-1.2em 0 .07em rgba(var(--shadowcolor), .3),
		-1.6em 0 .08em rgba(var(--shadowcolor), .2);
}

.quote-right {
	color: black;
	text-shadow:
		.4em 0 .05em rgba(var(--shadowcolor), .5),
		.8em 0 .06em rgba(var(--shadowcolor), .4),
		1.2em 0 .07em rgba(var(--shadowcolor), .3),
		1.6em 0 .08em rgba(var(--shadowcolor), .2);
}

/* ------------ Animation ----------*/



/* ------------ Media Queries ----------*/

@media (width <= 480px) {
	:root {
		--fontsizep: 1rem;
		--fontsizeh1: 3.8rem;
		--fontsizeh2: 2rem;
		--fontsizequote: 1.5rem;
		--lineheightp: 1.5em;
		--lineheightquote: 1.2em;
		--paddinginline: 1.25rem;
		--paddingblock: 4rem;
		--inlinemax: 64ch;
	}

	#hero {
		padding-block: calc(var(--paddingblock) * 3);
		overflow-y: hidden;
	}

	.quote-right {
		margin-block-start: calc(var(--pmargin) / 2);
		margin-block-end: calc(var(--pmargin) * 3);
	}
}

@media (481px <= width <= 700px) {
	:root {
		--fontsizep: 1.2rem;
		--fontsizeh1: 5rem;
		--fontsizeh2: 2.1rem;
		--fontsizequote: 1.45rem;
		--paddinginline: 2rem;
		--paddingblock: 5rem;
	}
	
	aside {
		font-size: var(--fontsizep);
		line-height: calc(var(--lineheightp) * .7);
	}
}


@media (width <= 950px) {
	/* h1 .right-shadow {
		text-shadow:
			0 -.7em .1em rgba(var(--shadowcolor), .4),
			0 -1.4em .12em rgba(var(--shadowcolor), .3),
			0 -2.1em .13em rgba(var(--shadowcolor), .2),
			0 -2.8em .14em rgba(var(--shadowcolor), .1);
	} */

	.quote-left {
		text-align: end;
		text-shadow:
			-.4em 0 .05em rgba(var(--shadowcolor), .5),
			-.8em 0 .06em rgba(var(--shadowcolor), .4),
			-1.2em 0 .07em rgba(var(--shadowcolor), .3),
			-1.6em 0 .08em rgba(var(--shadowcolor), .2),
			-2em 0 .08em rgba(var(--shadowcolor), .2),
			-2.4em 0 .08em rgba(var(--shadowcolor), .2),
			-2.8em 0 .08em rgba(var(--shadowcolor), .2),
			-3.2em 0 .08em rgba(var(--shadowcolor), .2);
	}

	.quote-right {
		text-align: start;
		text-shadow:
			.4em 0 .05em rgba(var(--shadowcolor), .5),
			.8em 0 .06em rgba(var(--shadowcolor), .4),
			1.2em 0 .07em rgba(var(--shadowcolor), .3),
			1.6em 0 .08em rgba(var(--shadowcolor), .2),
			2em 0 .08em rgba(var(--shadowcolor), .2),
			2.4em 0 .08em rgba(var(--shadowcolor), .2),
			2.8em 0 .08em rgba(var(--shadowcolor), .2),
			3.2em 0 .08em rgba(var(--shadowcolor), .2);
		margin-block-start: calc(var(--pmargin) * 4);
	}	
}


@media (700px <= width <= 1200px) {
	:root {
		--fontsizeh1: 6.5rem;
		--fontsizeh2: 2.5rem;
		--fontsizequote: 2rem;
		--lineheightquote: 1.2em;
		--paddinginline: 4rem;
		--paddingblock: 5rem;
	}

	.quote-right {
		margin-block-start: calc(var(--pmargin) * 4.5);
	}
}

@media (1200px <= width) {

}

@media (prefers-reduced-motion: reduce) {
	h1 .right-shadow::after { 
		animation: none;
	}
}

@media print {
	:root {
		background-color: white;
		color: black;
	}
}